@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background: #151515;
    font-family: 'Montserrat-Bold';
}
.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.header-line {
    background: #282828;
    width: 100%;
}
.header-nav {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}
.header-list {
    display: flex;
}
.icon {
    width: 62px;
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
}
.header-list:not(:last-child) a{
margin-right: 30px;
}
.header-link {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.button {
    background: #FFFFFF;
    padding: 13px 14px;
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    color: #171718;
    margin: 38px 0 0;
}
.header-smth {
    background: url(../images/Header\ \(1\).png) no-repeat center /cover;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 675px;
    justify-content: center;
    width: 100%;
    
}
.header-title {
    font-family: 'Prosto One';
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;

}
span {
    margin-right: 11px;
    text-transform: uppercase;
}
.main-content1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.main-desc {
    font-family: 'Montserrat-Medium';
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 63px 0 0;
    max-width: 538px;
}
.pic1 {
    padding: 30px 0 0;
    
}
.main-content2 {
    height: 408px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content3 {
    height: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-desc2 {
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 333px;
     
}

.main-desc2:not(:first-child) {
    height: 144px;
}
.main-desc2:not(:last-child) {
    text-align: end;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
    
    max-width: 255px;
    border-radius: 6px;
    width: 100%;
    background: #FFFFFF;
    padding: 15px 0;
  

}
.card-photo {
    margin: 10px 0;
}
.card-button {
    height: 34px;
    margin: 20px 0 0;
    background: #000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19.5px;
    max-width: 161px;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.card-title {
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}
.card-desc {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-transform: uppercase;
}
.main-card {
    display: flex;
    justify-content: space-between;
    margin: 79px 0 55px 0;
}
.footer {
    background: #282828;
}
.footer-content {
    height: 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list {
    display: flex;

}
.footer-list:not(:last-child) a {
    margin-right: 30px;
}
.footer-link {
    color: #FFFFFF;
}
.payment {
    max-width: 169px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
