@charset "UTF-8";
.utp:after {
  content: "";
  display: table;
  width: 100%;
  clear: both
}

a:active,
a:focus,
input:active,
input:focus {
  outline: 0
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}
.container_01 {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px
}
.main_01 {
  position: relative;
  padding: 72px 0;
  z-index: 1
}
.main_01 * {
  z-index: 5
}
.main_01::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -o-linear-gradient(bottom,rgba(31,100,174,.9),rgba(31,100,174,.9)),-o-linear-gradient(bottom,#1f64ae,#1f64ae),url(bg.jpg) no-repeat;
  background: -webkit-gradient(linear,left bottom,left top,from(rgba(31,100,174,.9)),to(rgba(31,100,174,.9))),-webkit-gradient(linear,left bottom,left top,from(#1f64ae),to(#1f64ae)),url(bg.jpg) no-repeat;
  background: linear-gradient(0deg,rgba(31,100,174,.9),rgba(31,100,174,.9)),linear-gradient(0deg,#1f64ae,#1f64ae),url(bg.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: normal,color,normal
}
.main_01 .main-img {
  position: absolute;
  right: 0;
  max-width: 738px;
  z-index: 0
}
.main_01 .main-content {
  max-width: 820px
}
.btitle {
  font-weight: 900;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px
}
.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  position: relative;
  padding-top: 16px;
  margin-bottom: 80px
}
.subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  background-color: #fff;
  height: 1px;
  -webkit-box-shadow: 0 2px 3px rgba(0,109,225,.22);
  box-shadow: 0 2px 3px rgba(0,109,225,.22)
}
.main_01 .cards .cards-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffd029;
  margin-bottom: 30px
}
.cards .item {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.cards .item:not(:last-child) {
  margin-right: 50px
}
.cards .item .item-img {
  width: 121px;
  height: 121px;
  margin-bottom: 30px
}
.cards .item .item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff
}
:active,
:focus {
  outline: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none
}
body {
  padding: 0;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background: #fff;
  position: relative;
  min-height: 100vh
}
.no-scroll {
  overflow: hidden
}
a {
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s
}
.clearfix {
  clear: both
}
input::-webkit-input-placeholder {
  color: #fff!important
}
input::-moz-placeholder {
  color: #fff!important
}
input:-ms-input-placeholder {
  color: #fff!important
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}
.btn {
  background: #e31e24;
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  font-weight: 600;
  position: relative;
  padding: 0 30px;
  height: 60px;
  letter-spacing: 0;
  border-radius: 80px;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  border: none;
  display: inline-block;
  vertical-align: top;
  text-decoration: none!important
}
.btn:hover {
  background: #ff7a00;
  color: #fff
}
.btn.btn-submit {
  padding: 0 0
}
.btn.focus,
.btn:focus,
btn:active {
  -webkit-box-shadow: none!important;
  box-shadow: none!important
}
.section-utp {
  background: #f9f9f9;
  position: relative;
  min-height: 600px;
  padding-top: 0
}
.section-utp .column-left {
  padding: 70px 0 25px 0
}
.section-utp .container {
  position: relative
}
.section-utp .image {
  position: absolute;
  top: 0;
  right: 0
}
.section-utp .utp-list {
  max-width: 550px;
  margin-bottom: 35px
}
.section-title {
  position: relative;
  font-size: 32px;
  line-height: 44px;
  font-weight: 900;
  color: #FF4200;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  margin: 0 0 35px 0
}
.section-title1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #ff7a00;
  width: 50px;
  -webkit-box-shadow: 0 2px 3px rgba(0,109,225,.22);
  box-shadow: 0 2px 3px rgba(0,109,225,.22)
}
.utp .br-mob {
  display: none
}
.utp .img {
  width: 101px;
  height: 101px;
  margin: 0 auto 15px;
  /* background: url(../img/bg-utp.svg) no-repeat; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.utp .text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  max-width: 150px;
  margin: 0 auto
}
@media (min-width:992.02px) {
  ::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 10px;
    height: 0
  }
  ::-webkit-scrollbar-track {
    background-color: transparent
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #c8c8c8;
    cursor: pointer;
    background-size: 100% 100%
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b4b2b2
  }
  ::-webkit-resizer {
    background-repeat: no-repeat;
    width: 10px;
    height: 0
  }
  ::-webkit-scrollbar {
    width: 10px
  }
  ::-webkit-scrollbar:horizontal {
    height: 10px
  }
  ::-webkit-scrollbar-button {
    display: none
  }
}
@media (max-width:1480px) {
  .main_01 .main-img {
    max-width: 600px
  }
  .subtitle {
    margin-bottom: 60px
  }
  .btitle {
    font-size: 34px
  }
}
@media (max-width:1360px) {
  .container_01 {
    max-width: 1140px
  }
  .btitle {
    font-size: 34px
  }
  .main_01 .main-content {
    max-width: 620px
  }
  .cards .item:first-child,
  .cards .item:nth-child(2) {
    margin-bottom: 20px
  }
}
@media (max-width:1171px) {
  .container_01 {
    max-width: 960px
  }
  .main_01 .main-img {
    max-width: 520px
  }
  .section-utp .section-title br {
    display: none
  }
  .section-utp .column-left {
    padding: 60px 0 25px 0;
    max-width: 639px
  }
  .section-utp .image {
    max-width: 525px
  }
}
@media (max-width:1100px) {
  .section-title {
    font-size: 30px;
    line-height: 38px
  }
}
@media (max-width:992px) {
  body {
    padding: 0
  }
  .section-title {
    margin-bottom: 15px
  }
  .section-utp {
    padding: 0 0 35px 0
  }
  .section-utp .image {
    position: relative;
    margin: 0 0 30px 0
  }
  .section-utp .column-left {
    padding: 0 0
  }
  .section-utp .utp-list {
    max-width: 100%;
    margin-bottom: 10px
  }
  .utp {
    margin: 0 0 15px 0
  }
  .utp .br-mob {
    display: block
  }
  .utp .img {
    float: left;
    margin: 0 0;
    width: 70px;
    height: 70px;
    background-size: 100% 100%
  }
  .utp .img img {
    max-width: 43px;
    max-height: 40px
  }
  .utp .text {
    margin: 0 0 0 90px;
    text-align: left;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 180px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600
  }
}
@media (max-width:991px) {
  .main_01 .main-img {
    max-width: 440px
  }
}
@media (max-width:767px) {
  .container_01 {
    max-width: 100%
  }
  .main_01 {
    padding-top: unset
  }
  .btitle {
    font-size: 32px;
    line-height: 39px
  }
  .main_01 .main-img {
    position: static;
    max-width: 100%;
    margin-bottom: 30px
  }
  .main_01 .main-content {
    max-width: 100%
  }
  .cards .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .cards .item {
    max-width: 100%;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    margin-right: unset;
    margin-bottom: 30px
  }
  .cards .item:not(:last-child) {
    margin-right: unset
  }
  .cards .item .item-img {
    margin-bottom: unset
  }
  .cards .item .item-text {
    text-align: left;
    padding-left: 30px;
    max-width: 190px
  }
  .btn {
    font-size: 14px
  }
}
@media (max-width:575px) {
  .container_01 {
    padding: 0 20px
  }
  .section-title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 900
  }
  .section-utp .btn {
    width: 100%;
    padding: 0 5px;
    text-align: center;
    max-width: 400px
  }
}
.webp .main_01::after {
  background: -o-linear-gradient(bottom,rgba(31,100,174,.9),rgba(31,100,174,.9)),-o-linear-gradient(bottom,#1f64ae,#1f64ae),url(bg.webp) no-repeat
}
.webp .main_01::after {
  background: -webkit-gradient(linear,left bottom,left top,from(rgba(31,100,174,.9)),to(rgba(31,100,174,.9))),-webkit-gradient(linear,left bottom,left top,from(#1f64ae),to(#1f64ae)),url(bg.webp) no-repeat
}
.webp .main_01::after {
  background: linear-gradient(0deg,rgba(31,100,174,.9),rgba(31,100,174,.9)),linear-gradient(0deg,#1f64ae,#1f64ae),url(bg.webp) no-repeat
}